@import "./global.scss";
.create-post {
  padding: 15px;
  border-radius: 15px;

  form {
    textarea {
      resize: none;
      outline: none;
      border: 0;
      border-bottom: 1px solid $lightGrey;
    }

    .action-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .attachments {
        button {
          color: rgb(165, 165, 165);
          @include flex-center;
          // line-height: 1.5rem;
        }
      }

      .submit-btn {
        background-color: #f47351;
        font-size: 1.3rem;
        padding: 5px 30px;
      }
    }
  }
}
