@import "./global.scss";

.layout {
  background-color: $platinum;
  height: 100vh;
  overflow-y: scroll;

  //   .row {
  //     height: 100%;
  //     > div {
  //       height: 100%;
  //     }
  //   }
  .row {
    .newsfeed-col {
      height: 100vh;
      overflow-y: scroll;
    }
  }
}
