@import "./global.scss";
.register-container {
  background-color: $platinum;
  height: 100%;
  position: relative;
  .error-alert {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 100;
  }
  .register,
  .login {
    .card-body {
      form {
        .buttons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .submit {
            background-color: $primaryColor;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
