@import "./global.scss";
.register-container {
  background-color: $platinum;
  height: 100%;
  .register {
    .card-body {
      form {
        .buttons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .submit {
            background-color: $primaryColor;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
